
.about {
  height: 60vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about p a:hover {
  text-decoration: underline;
}

.about > div {
  display: flex;
  height: 20px;
  column-gap: 30px;
}

.about div a > * {
  transform: scale(2);
}
