.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.vector {
  background-color: #5586e2;
  height: 50px;
  width: 50px;
}

.flag {
  border: 1px solid black;
}

.infoList {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: calc(max(10vw, 900px));
  align-items: center;
  justify-content: space-evenly;
}

.infoList li {
  display: flex;
  justify-content: space-between;
  width: 80vw;
  max-width: 800px;
  min-width: 400px;
  align-items: flex-start;
  font-size: 30px;
}

.infoList li:nth-child(even) {
  background-color: #4369b2;
}

.infoList li p,
.infoList li span {
  margin: 0 10px;
  font-size: 20px;
}

.infoList li p {
  font-weight: bold;
}

@media only screen and (max-width: 400px) {
  .infoList {
    width: 100vw;
  }

  .flag {
    height: 100px;
    width: auto;
  }

  .infoList li {
    width: 100vw;
    min-width: 115px;
  }

  .infoList li p,
  .infoList li span {
    font-size: 13px;
  }
}
