* {
  color: white;
  text-decoration: none;
}

.navFlex {
  background-color: #4369b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  height: 65px;
}

nav {
  display: flex;
  column-gap: 30px;
}

.logo {
  filter: invert(1);
}

.navFlex > p {
  transform: scale(1.5);
}
